@import 'syntax-light';
@import 'syntax-dark';

.hi-svg-inline {
  vertical-align: -0.125rem;
  color: var(--body-font-color);
  opacity: 0.9;
}

@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0055bb;
  --color-visited-link: #0055bb;

  --body-background: white;
  --body-font-color: rgba(31, 35, 40);

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-dark {
  --gray-100: #494e54;
  --gray-200: #5c6165;
  --gray-500: #999d9f;

  --color-link: #84b2ff;
  --color-visited-link: #84b2ff;

  --body-background: #343a40;
  --body-font-color: #e9ecef;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

:root {
  @include theme-light;

  pre {
    background-color: #f1f1f1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;

    pre {
      background-color: #282c34;
    }
  }
}

.copy-button {
  cursor: pointer;
  border: none;
  background: none;
}


.copy-icon {
  width: 1.2em;
  height: 1.2em;
}

.copy-icon {
  fill: rgba(0, 0, 0, 0.25);
}

.copy-button:hover .copy-icon {
  fill: rgba(0, 0, 0, 0.5);
}

.home-photo img {
  max-width: 100%;
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.home-links p {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 50px;
}

.home-links {
  flex: 1;
}

.home-photo {
  flex: 0 0 auto;
  /* Don't grow, don't shrink, use natural width */
}

.markdown {

  h1,
  h2,
  h3,
  h4 {
    font-weight: 530;
  }
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }
}